header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    background-color: #98C2B3; 
    color: #2D2D2D;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 20px; 
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
}

.nav-links a {
    text-decoration: none;
    color: #2D2D2D;
    margin: 0 20px; 
}

.nav-links a.active, .nav-links a:hover {
    border-bottom: 2px solid #2D2D2D;
}

.logo {
    text-decoration: none;
    color: #2D2D2D;
    font-weight: 500;
    margin-right: auto; 
}
